<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/layout}">
<head>
    <title >CalmLine Focus</title>
    <script type="module" th:src="@{/{jsFile}(jsFile=${jsFile})}"></script>
    <th:block th:each="css : ${cssFiles}">
        <link rel="stylesheet" crossorigin th:href="@{/{cssFile}(cssFile=${css})}">
    </th:block>
</head>
<body>
    <div layout:fragment="content">
        <div id="root"></div>
    </div>
</body>
</html>
